.btn {
    font-size: rem(16px);
    font-weight: bold;
    padding: rem(21px)  rem(41px);
    text-transform: uppercase;
    border-radius: rem(100px);
    line-height: 1;
    text-decoration: none;
    border: none;
    display: inline-flex;


    &--theme-yellows {
        background-color: #FEDB3F;
        color: #000;

        &:hover {
            color: #fff;
            background-color: #FFD517;
        }
    }


     &--theme-transparent {
        background-color: transparent;
        color: #fff;
        text-transform: none;
        padding: rem(22px);

        &:hover {
            color: #FEDB3F;
        }
    }
}
