.feature {
display: flex;
}
.feature__icon {
    width: rem(41px);
    height: rem(41px);
    margin-right: rem(7px);
    display: flex;
    align-items: center;
}
.feature__text {
    font-weight: bold;
    line-height: rem(18px);
    font-size: rem(16px);
    max-width: rem(85px);
}