.hero {
    background: url(../img/bg1.png)  center no-repeat;
background-size: 100%;
padding: 28px 65px;
}
.hero__title-section {
    margin-top: 114px;
    width: 36%;
}
.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.hero__main-title {
    font-size: 48px;
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: 17px;
    color: #fff;
    text-transform: uppercase;
}
.hero__title-desc {
    font-size: 21px;
    margin-bottom: 40px;
    color: #fff;
}