.radio {
    display: flex;
    cursor: pointer;
    user-select: none;

    &--checkbox {
        .radio__visable {
            border-radius: 0;
        }
        &::before {
            background: url(/img/ok.png) center center no-repeat;
        }
    }
}
.radio__elem {
    display: none;

    &:checked ~ .radio__visible {
        &::before {
            display: block;
        }
    }
}
.radio__visible {
    content: "";
    width: 26px;
    height: 26px;
    position: relative;
    display: none;
    border-radius: 50%;
    background: #fff;

    &::before {
        width: 14px;
        height: 14px;
        background: #FEDB3F;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}